body {
    background-image: url(about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;

}
h1, h3 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    
}
#nav li a:hover {
    background-color: navy;
}

#content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    padding-bottom: 16px;
    font-size: 20px;
   
}

table {
    margin: inherit;
    text-align: left;
    width: 15%;
}

#content ul, #content ol {
    margin: auto;
    text-align: left;
    width: 10%;
}
.winners {
    text-align: center;
}
#ree{
    width:40%;
    margin:auto;
}
.line{
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    width: 40%;
    text-align: center;
    margin:auto;
}
p{
    margin:auto;
    width:40%;
}
.reee{
    margin:auto;
    width:30%;
    height: 10%;
}