body {
    background-image: url(indexandportfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;

}
h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    
}
#nav li a:hover {
    background-color: navy;
}

#content {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    padding-bottom: 16px;
}

#content ul, #content ol {
    width: 25%;
    margin: auto;
}
p {
    font-size:24px;
}
h3{
    font-size: 30px;
}
img{
    margin: auto;
    width:40%;
}